/* SECTION */

.slider{
    height: 80vh !important;
    background: #bfc1c7;
}

.company{
    /*height: 80vh !important;*/
    /*background: #f5f6f8;*/
}

.employee{
    height: 80vh !important;
    background: #ffe748;
}

.donation{
    height: 80vh !important;
    background: #64DD17;
}

.footer{
    height: 20vh !important;
    background: #313131;
}


/*main styles */
.text-info{
    color: #fefefe;
    text-align: center;
    font-size: 9vh;
}

.text-center{
    text-align: center !important;
}
