/* SECTION */

.slider{
    height: 80vh !important;
    background: #bfc1c7;
}

.company{
    /*height: 80vh !important;*/
    /*background: #f5f6f8;*/
}

.employee{
    height: 80vh !important;
    background: #ffe748;
}

.donation{
    height: 80vh !important;
    background: #64DD17;
}

.footer{
    height: 20vh !important;
    background: #313131;
}


/*main styles */
.text-info{
    color: #fefefe;
    text-align: center;
    font-size: 9vh;
}

.text-center{
    text-align: center !important;
}

.footer1 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    color: #000000;
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer1 a {
    text-decoration: none;
    color: #000000;
    transition: .3s color;
    font-weight: 550;
}

.widget-social a:hover {
    color: #cb0d3e !important;
}

.widget-social li{
    list-style: none;
    display: inline-block;
    margin-right: 17px;
    margin-left: 5px;
}

a.m3-scroll-arr {
    cursor: pointer;
    position: absolute;
    margin: -24px 0 0 -24px;
    z-index: 999999;
    left: 50%;
    top: 99%;
    width: 48px;
    height: 48px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    right: auto;
    color: #fefefe;
    background-color: #cb0d3e;
    border-radius: 50%;
}
.new-btn{
    border-radius: 30px !important;
    padding: 0 25px !important;
    height: 56px !important;
}
.flexbox__ma{
    padding-top: 3em;
}
.museumbutton{
    padding-top: 3.5em;
}

.widget-social-icons {
    width: 150px;
    margin-left: auto;
    list-style: none;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.widget-social-icons li{
    margin: 10px;
    display: inline-block;
}

.widget-social {
    display: inline-block;
}

.widget-social-icons a:hover {
    color: #cb0d3e !important;
}