/* SECTION */

.slider{
    height: 80vh !important;
    background: #bfc1c7;
}

.company{
    /*height: 80vh !important;*/
    /*background: #f5f6f8;*/
}

.employee{
    height: 80vh !important;
    background: #ffe748;
}

.donation{
    height: 80vh !important;
    background: #64DD17;
}

.footer{
    height: 20vh !important;
    background: #313131;
}


/*main styles */
.text-info{
    color: #fefefe;
    text-align: center;
    font-size: 9vh;
}

.text-center{
    text-align: center !important;
}

a.m3-scroll-arr {
    cursor: pointer;
    position: absolute;
    margin: -36px 0 0 -36px;
    z-index: 999999;
    left: 50%;
    top: 98%;
    width: 72px;
    height: 72px;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    right: auto;
    color: #fefefe;
    background-color: #cb0d3e;
    border-radius: 50%;
}