.employee
  .team-head
    width: 70%
    margin: auto
    text-align: center
    .underline
      width: 150px
      height: 3px
      background-color: #cb0d3e
      margin:
        left: auto
        right: auto
        top: 10px
        bottom: 20px
  .workers
    margin-top: 40px
    .worker
      text-align: center
      padding: 4px
      img
        display: block
        width: 90%
        margin: auto
      h3
        margin-top: 20px
        font-size: 22px
        font-weight: normal
      .position
        margin-top: 0
        font-style: italic
      p
        margin: auto
        margin-top: 15px
        width: 90%

